body {
  font-family: Arial, sans-serif;
  background-color: #d5cbcb;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
    border: 5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
  margin-top: 15px;
  cursor: pointer;
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    width: 50%;
    margin: 5px;
}

button:hover {
  background-color: #5b8f5e;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.admin-btn {
  background:#45a049;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  width: 100px;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal box */
.modal {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 8px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 14px;
}

.modal-actions .cancel {
  background: #ccc;
  border: none;
}

.error {
  color: red;
  margin-bottom: 10px;
}
